.hide {
    display: none ;  
}


/* Remove box around these */

#current-weather, #city-location-box {
    border: 1px solid white;
}

/*add colour to header */ 
#header-box {
    background-color: #0d6efd;
    color: black;
    font-weight: 200;
    padding: 1%;
}